asgiref==3.5.2
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
colorama==0.4.4
Django==4.1
flake8==3.7.9
iniconfig==1.1.1
packaging==21.3
pdfminer.six==20200402
pluggy==1.0.0
py==1.11.0
Pygments==2.6.1
pyparsing==3.0.7
pytest==7.0.1
pytest-html==2.0.1
pytest-rerunfailures==9.0
seleniumbase==1.36.10
soupsieve==2.0
sqlparse==0.4.2
tomli==2.0.1
tqdm==4.45.0
tzdata==2022.1
